.active {
  color: #4db7fe;
  border-bottom: 1px solid #4db7fe;
}

.nav-item:hover {
  color: #1fa5ff;
}

.title {
  font-size: 70px;
}

.header {
  background-image: url("./asset/img/background-header.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header button {
  background-color: #002d4b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn-login {
  background-color: #1fa5ff;
  border: none;
  color: white;
  padding: 7px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn-login:hover {
  background-color: #0099ff;
}

.icon {
  color: #1fa5ff;
}
